/** Basic styling **/
html {
    background-color: #ffffff;
    font-size: 16px;
}

body {
    width: 1400px;
    margin: 0 auto;
    padding: 0px;
    
}

main {
    width: 1400px;
    margin: 0 auto;
    padding: 60px 24px 24px 24px;
    background-color: #f48200b8;
}
section {
    padding: 24px;
    border: 1px solid gray;
    margin: 0 auto;
    width: 96%;
    background-color: white;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
}

/** Style header **/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    align-items: center;
    height: 100px;
    top: 0;
    z-index: 10;
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 24px 36px 24px;
    background-color: #7debc4;
}

header h1 {
    display: inline-flex;
}

nav {
    display: inline-flex;
    margin-left: auto;
    margin-right: 24px;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    font-size: 1.3rem;
}

nav li {
    text-decoration: none;
    padding: 1rem;
}

nav li a {
    text-decoration: none;
}

/** Style color section **/
#colors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cool-blue,
#easter-pastels,
#orange-delight,
#purple-majesty,
#yellow-blast {
    width: 200px;
    text-align: center;
    padding-right: 24px;
}

#cool-blue > div,
#easter-pastels > div,
#orange-delight > div,
#purple-majesty > div,
#yellow-blast > div {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform:uppercase;
    padding: 1rem 3rem 4rem 3rem;
    border: 1px solid lightgray;
    margin-bottom: 1px;
}

/** Style colors **/
.light-blue {
    background-color: #6ba7c7;
}
.medium-blue {
    background-color: #0F73A9;
}
.dark-blue {
    background-color: #104E82;
    color: white;
}
.slate-gray {
    background-color: #D9D7D7;
}
.bright-orange {
    background-color: #f43a09;
}
.burnt-orange {
    background-color: #ffb766;
}
.blue-green {
    background-color: #c2edda;
}
.live-green {
    background-color: #68d388;
}
.forest-green {
    background-color: #0f2114;
    color: white;
}
.purple-mountains {
    background-color: #8076a3;
}
.factory-purple {
    background-color: #7c677f;
}
.misty-pink {
    background-color: #f9c5bd;
}
.grassy-green {
    background-color: #9bc400;
}
.mint-green {
    background-color: #8bf0ba;
}
.middle-blue {
    background-color: #0e0fed;
    color: white;
}
.pale-blue {
    background-color: #94f0f1;
}
.pretty-pink {
    background-color: #f2b1d8;
}
.egg-yellow {
    background-color: #ffdc6a;
}
.tangerine {
    background-color: #f48200;
}
.deep-yellow {
    background-color: #f6bb0a;
}
.sandstorm {
    background-color: #f9d342;
}
.pale-yellow {
    background-color: #fbe551;
}
.barely-yellow {
    background-color: #fde88d;
}

/** Style fonts **/

#fonts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

#fonts > div {
    width: 45%;
    padding: 16px;
    border: 1px dotted gray;
}

#fonts p {
    font-size: 1.5rem;
}

.lato {
    font-family: Lato;
}

.raleway {
    font-family: Raleway;
}

.italiana {
    font-family: Italiana;
}

.cinzel {
    font-family: Cinzel;
}

.open-sans {
    font-family: "Open Sans";
}

.merriweather {
    font-family: Merriweather;
}

/** Style footer **/
footer {
    width: 1400px;      
    bottom: 0;
    margin: 0 auto;
    background-color: rgb(22, 6, 71);
    text-align: left;
    color: #ebd281; 
    padding: 24px;
}